doctype html
html( lang='en' )

    head
        include head/_head

    body
        include icons/_icons

        include analytics/_ua
        
        header.cg-header

        .cg-wrapper
            main.cg-main
                block body

            footer.cg-footer

        include scripts/_scripts