doctype html
html( lang='en' )

    head
        include head/_head

    body
        include icons/_icons

        include analytics/_ua
        
        header.c-header

        .c-wrapper
            main.c-main
                block body

            footer.c-footer

        include scripts/_scripts