doctype html
html( lang='en' )

    head
        include head/_head

    body
        include icons/_icons

        include analytics/_ua
        
        header.o-header

        .o-wrapper
            main.o-main
                block body

            footer.o-footer

        include scripts/_scripts