
.c-home-c3d {
    position: relative;

    width: 100%;
    height: calc(100vh - 50px);

    perspective: 1000vh;
    
    @include sm-devices {
        height: 100vh;
    }
}

.c-home-c3d__slide {
    position: absolute;

    float: left;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
}

$transition-duration: 0.75s;
.c-home-c3d__cube {
    position: relative;

    float: left;

    width: 25%;
    height: 100%;

    transition: transform $transition-duration, left $transition-duration;
    transform-origin: center center;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateZ( calc(22vw / 2) ) rotateY( 0deg );

    &:nth-child(2),
    &:nth-child(3){
        z-index: 1;
    }
}


.is-left {
    .c-home-c3d__cube {
        transform: translateZ( calc(22vw / 2) ) rotateY( 90deg );
        &:nth-child(2){
            transition-delay: 0.15s;
        }
        &:nth-child(3){
            transition-delay: 0.3s;
        }
        &:nth-child(4){
            transition-delay: 0.45s;
        }
    }
}
.is-right {
    .c-home-c3d__cube {
        transform: translateZ( calc(22vw / 2) ) rotateY( -90deg );

        &:nth-child(3){
            transition-delay: 0.15s;
        }
        &:nth-child(2){
            transition-delay: 0.3s;
        }
        &:nth-child(1){
            transition-delay: 0.45s;
        }
    }
}

.c-home-c3d__cube__side {
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: center center;

    background: no-repeat scroll 50% center black;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: opacity $transition-duration;

    &--front  {transform: rotateY(   0deg ) translateZ(calc(24vw / 2)); }
    &--back   {transform: rotateX( 180deg ) translateZ(calc(24vw / 2)); }
    &--right  {transform: rotateY(  90deg ) translateZ(calc(24vw / 2)); }
    &--left   {transform: rotateY( -90deg ) translateZ(calc(24vw / 2)); }
    &--top    {transform: rotateX(  90deg ) translateZ(calc(24vw / 2)); }
    &--bottom {transform: rotateX( -90deg ) translateZ(calc(24vw / 2)); }

    @include sm-devices {
        &--front  {transform: rotateY(   0deg ) translateZ(calc(23vw / 2)); }
        &--back   {transform: rotateX( 180deg ) translateZ(calc(23vw / 2)); }
        &--right  {transform: rotateY(  90deg ) translateZ(calc(23vw / 2)); }
        &--left   {transform: rotateY( -90deg ) translateZ(calc(23vw / 2)); }
        &--top    {transform: rotateX(  90deg ) translateZ(calc(23vw / 2)); }
        &--bottom {transform: rotateX( -90deg ) translateZ(calc(23vw / 2)); }
    }

    @include md-devices {
        &--front  {transform: rotateY(   0deg ) translateZ(calc(24vw / 2)); }
        &--back   {transform: rotateX( 180deg ) translateZ(calc(24vw / 2)); }
        &--right  {transform: rotateY(  90deg ) translateZ(calc(24vw / 2)); }
        &--left   {transform: rotateY( -90deg ) translateZ(calc(24vw / 2)); }
        &--top    {transform: rotateX(  90deg ) translateZ(calc(24vw / 2)); }
        &--bottom {transform: rotateX( -90deg ) translateZ(calc(24vw / 2)); }
    }
}

.c-3d__bt {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 50%;
    transform: translateY(-50px);
    cursor: pointer;
    &--right{
        right: 0
    }
}