.cg-header {
    position: fixed;
    z-index: 100;

    width: 100vw;
    height: 50px;

    background-color: $BLACK;

    @include sm-devices() {
        left: 0;

        width: 50px;
        height: 100vh;
    }
}
