extends _layout/_master

block body
    .slider#js-slider
        - var IMG_PATH = 'images/'
        - var bar = 0;
        while bar < 4
            .cube
                .cube__side.cube__side--front(style='background-image: url('+IMG_PATH+'kv1.jpg);')
                .cube__side.cube__side--right(style='background-image: url('+IMG_PATH+'kv2.jpg);')
                .cube__side.cube__side--left(style='background-image: url('+IMG_PATH+'kv3.jpg);')
            - bar++

    .bt.bt--left#js-bt__left
    .bt.bt--right#js-bt__right